### importing libraries that will be used to investigate Dataset

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime

### check tables informations 

* SELECT 
    * table_name 
* FROM 
    * information_schema.tables
* -- Specify the correct table_schema value
* WHERE 
    * table_schema = 'public';

-- Query the right table in information_schema to get columns
* SELECT 
    * column_name, data_type 
* FROM 
    * information_schema.columns 
* WHERE 
    * table_name = 'university_professors' AND table_schema = 'public';

# creat tables

* CREAT TABLE table_name(
    * column_a data_type, 
    * column_b data_type, 
    * column_c data_type, 
    * column_d data_type 
);

* CREAT TABLE weather(
    * cloud text, 
    * tempreture numaric, 
    * weather_station char(5)
);

### Add new column to exsisting table

* ALTER TABLE table_name
* ADD COLUMN column_name data_type;

### rename column to exsisting table

* ALTER TABLE table_name
* RENAME COLUMN column_name old_name TO new_name;;

### Drop column from table

* ALTER TABLE table_name
* DROP COLUMN column_name;

# Database Migrating (copy data from table to another)

* INSERT INTO new_table_name
* SELECT DISTINCT (column_name), 
    * another_column_name,
* FROM 
    * old_table_name

### insert data manually 

* INSERT INTO table_name
* values(a, b, c, d, e, ....)

# Database integrity constrians 

* Attribute constrains: data types on columns.
* key constrains: primary keys 
* referential integrity constrains: enforced by foreign keys

## Insert data to exsiting table

* INSERT INTO table_name(Column_name, column2_name, column3_name)
* VALUES (value1, value2, value3)

## change string to integer

* SELECT price * CAST(total AS integer)
* FROM table_name

## Data types on SQL

* text >>>> means string 
* varchar(5) >>>> maximum number of charachters is 5
* char(5) >>>> charachter must be 5 digits
* boolean >>>>> 0 or 1 or null
* data
* time
* timestamp
* numeric (3, 5)>>>>> floats 3 digits before comma and 5 after it
* integer >>>>> int
* serial >>>>> for automatic ids

## change column type

### round numbers 

* ALTER TABLE table_name
* ALTER COLUMN column_name
* TYPE integer
* USING round(column_name)

# change number of charachters to lower number (we havewords with 25 but we need to make max number 16 -fiirst 16 char)

* ALTER TABLE table_name
* ALTER COLUMN column_name
* TYPE VARCHAR(16)
* USING SUBSTRING(column_name FROM 1 FOR 16);

# Creat table with not null values (cell can not be empty)

* CREATE TABLE table_name(
    * coulmn_name int NOT NULL,
    * coulmn_name char NOT NULL,
    * coulmn_name int ,
    * coulmn_name int 
);
* first 2 columns can not be empty last 2 can have nulls

## change column to not null column

* ALTER TABLE table_name
* ALTER COLUMN column_name
* SET NOT NULL;

## change column to null column

* ALTER TABLE table_name
* ALTER COLUMN column_name
* DROP NOT NULL;

## Make UNIQUE COLUMN (can not have duplicate values)

* CREAT TABLE table_name(
    * column_name UNIQUE
);

## Chanhe UNUNIQUE COLUMN to UNIQUE (can not have duplicate values)

* ALTER TABLE table_name
* ADD CONSTRAINT new_column_name UNIQUE(old_column_name)
);

# Keys and Super Keys

### Create table with primary key

* CREATE TABLE table_name(
    * column_1 int PRIMARY KEY,
    * column_2 char(5),
    * column_3 text
)

### Create table with multi column primary key

* CREATE TABLE table_name(
    * column_1 int ,
    * column_2 char(5),
    * column_3 text,
    * PRIMARY KEY (column_1, column_2)
)

### Set primary key to exsiting table

* ALTER TABLE table_name(
    * ADD CONSTRIANT name_for_primary_key PRIMARY KEY (column_name)

### ADD Automatic ID column AS primary key

* ALTER TABLE table_name(
    * ADD COLUMN id serial PRIMARY KEY (column_name)

# Make new column with combined data from other 2 columns like first and last name

* ALTER TABLE table_name
    * ADD COLUMN full_name text
* UPDATE table_name
* SET full_name = CONCAT(firstname, lastname)   
* ALTER TABLE table_name
* ADD CONSTRAINT pk PRIMARY KEY (full_name)

# Create forighn keys

* CREATE TABLE table_name(
    *  column_1 integer PRIMARY KEY
);
* INSERT INTO table_name
* VALUES(1,2,3,4,5,6,7
);
* CREATE TABLE table2_name(
    *  column_2 integer REFERENCES table_name(column_1)
);

## Make a column as forighn key

### ADD NEW COLUMN AS A FOREIGN KEY 

* ALTER TABLE table_name
* ADD COLUMN column_name INTEGER REFERENCES table_name(column_name)

-- Add a professor_id column
* ALTER TABLE affiliations
* ADD COLUMN professor_id integer REFERENCES professors (id);

### MAKE FOREIGN KEY FROM EXSISTING COLUMN

* ALTER TABLE table_name
* ADD CONSTRAINT fk  FOREIGN KEY (column_name) REFERENCES table_name(column_name)

-- Add a foreign key on organization_id
* ALTER TABLE affiliations
* ADD CONSTRAINT affiliations_organization_fkey FOREIGN KEY (organization_id) REFERENCES organizations (id);

## ADD ACTION TO FROEIGN KEY WHEN DELETED

* ACTIONS ON DELETE FOREIGN KEYS:
    * CASCADE >>>> DELETE ALL REFRENCED RECORDS
    * NO ACTION >>>>
    * RESTRICT >>> throw an error
    * SET DEFAULT >>>> SET REFRENCED COLUMN TO DEFULT VALUE

* ALTER TABLE affiliations
* ADD CONSTRAINT affiliations_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES organizations (id) ON DELETE CASCADE;

# CHeck table constraint

-- Identify the correct constraint name
* SELECT constraint_name, table_name, constraint_type
* FROM information_schema.table_constraints
* WHERE constraint_type = 'FOREIGN KEY';