# Find tables on HTML

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt 
import statsmodels.formula.api as smf
from bs4 import BeautifulSoup
import requests

## Method 1

In [ ]:
url = "https://pt.wikipedia.org/wiki/Lista_de_bairros_de_Manaus"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data, "lxml")

In [ ]:
# Verifying tables and their classes

print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['box-Desatualizado', 'plainlinks', 'metadata', 'ambox', 'ambox-content']
['wikitable', 'sortable']
['nowraplinks', 'collapsible', 'collapsed', 'navbox-inner']

In [ ]:
table = soup.find("table")
# tr >> table rows
table_rows = soup.find_all("tr")

# td >> table data 

for tr in table_rows:
    td = tr.find_all("td")
    row = [i.text for i in td]
    print(row)
    print("**********************")

[]
**********************
['1', '0.73808', '1.27244', '0.88405', '1.38098']
**********************
['1.35487', '1', '1.72398', '1.19778', '1.87104']
**********************
['0.78589', '0.58005', '1', '0.69477', '1.08530']
**********************
['1.13115', '0.83488', '1.43932', '1', '1.56210']
**********************
['0.72412', '0.53446', '0.92140', '0.64016', '1']
**********************

## Method 2

In [ ]:

dfs = pd.read_html(url )
len(dfs)

1

In [ ]:
print(df[0])

       USD      GBP      CAD      EUR      AUD
0  1.00000  0.73813  1.27264  0.88410  1.38116
1  1.35478  1.00000  1.72414  1.19776  1.87117
2  0.78577  0.58000  1.00000  0.69470  1.08528
3  1.13109  0.83489  1.43947  1.00000  1.56223
4  0.72403  0.53443  0.92142  0.64011  1.00000

[]
**********************
['Argentinean Peso', '107.1950', '+0.1150', '+0.107%', '88.96Today|||107.19']
**********************
['Brazilian Real', '5.0588', '-0.0451', '-0.884%', '4.89Today|||5.88']
**********************
['Canadian Dollar', '1.2770', '+0.0018', '+0.145%', '1.20Today|||1.30']
**********************
['Chilean Peso', '792.7150', '-5.8250', '-0.729%', '689.95Today|||875.40']
**********************
['Dominican Peso', '55.9200', '-0.7000', '-1.236%', '55.92Today|||58.00']
**********************
['Mexican Peso', '20.3050', '-0.0045', '-0.022%', '19.59Today|||22.15']
**********************
[]
**********************
['\xa0', 'NIKKEI 225 INDEX\xa0\xa0Japan', '-1.71%', '26,449.61']
**********************
['\xa0', 'HANG SENG INDEX\xa0\xa0China', '+0.62%', '23,665.25']
**********************
['\xa0', 'FTSE 100 IDX\xa0\xa0England', '+0.05%', '7,498.18']
**********************
['\xa0', 'CAC 40 INDEX\xa0\xa0France', '-0.10%', '6,780.67']
**********************
['\xa0', 'DEUTSCHE BORSE DAX INDEX\xa0\xa0Germany', '-0.42%', '14,631.36']
**********************

In [ ]:
url = "https://money.cnn.com/data/currencies/"
dfs = pd.read_html(url )
len(dfs)

2

In [ ]:
dfs[0]

,Currencies,$1=,Change inU.S. dollars,% Change,52-week range
0,Argentinean Peso,107.1950,0.1150,+0.107%,88.96Today|||107.19
1,Brazilian Real,5.0588,-0.0451,-0.884%,4.89Today|||5.88
2,Canadian Dollar,1.2770,0.0018,+0.145%,1.20Today|||1.30
3,Chilean Peso,792.7150,-5.8250,-0.729%,689.95Today|||875.40
4,Dominican Peso,55.9200,-0.7000,-1.236%,55.92Today|||58.00
5,Mexican Peso,20.3050,-0.0045,-0.022%,19.59Today|||22.15

dfs = pd.read_html(url, match="spasific word on table", flavor = bs4 or lxml )